.container{
    width: 500px;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: center;/*flex-start;*/
}
.item{
    background-color: aqua;
    width: 100px;
    height: 100px;
    border: brown solid 2px;
}

.item1{
    	
}
.item2{
    order: 3;
    flex-grow: 1;
}

.item3{
    order: 2;
    flex-grow: 1;/* tamanho da celula*/
}

}
/*
    flex-direction: column; /* column-reverse, row, row-reverse (row default
    flex-wrap: wrap; /*nowrap, wrap-reverse (quebra a linha)
    justify-content: flex-start;/*flex-end, center, space-between, space-around
    align-items: center;/*flex-end, flex-start, stretch
    align-content: center;/*flex-end, flex-start, stretch
*/
